.cuestionario-container {
    display: flex;
    gap: 10px;
    width: 90%;
    margin: auto;
    background-color: #F3F3F3;
    padding: 91px 19px;
    margin-top: 50px;
    border-radius: 20px;
}

.w-100 {
    width: 100%;
    text-align: center;
    margin-top: 50px;

    button {
        width: 199px;
        height: 46px;
        background: #E8630A;
        border-radius: 60px;
        border-style: none;
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }
}

.swiper-button-prev:after, .swiper-button-next:after {

    color: #E8630A;
}